/bin/
/Bedrock-Nukkit/logs/
/Bedrock-Nukkit/players/
/Bedrock-Nukkit/plugins/
/Bedrock-Nukkit/resource_packs/
/Bedrock-Nukkit/worlds/
/Bedrock-Nukkit/banned-ips.json
/Bedrock-Nukkit/banned-players.json
/Bedrock-Nukkit/nukkit.yml
/Bedrock-Nukkit/ops.txt
/Bedrock-Nukkit/server.properties
/Bedrock-Nukkit/white-list.txt
/Java-Mohist/logs/
/Java-Mohist/mods/
/Java-Mohist/world/
/Java-Mohist/banned-ips.json
/Java-Mohist/banned-players.json
/Java-Mohist/ops.json
/Java-Mohist/usercache.json
/Java-Mohist/whitelist.json
/MCSManager/
/Java-Mohist/usernamecache.json
/Java-Mohist/mods.dis/
/Java-Mohist/plugins/
/Java-Mohist/crash-reports/
/logout.log