#注意：如果不填写nid，也不填写sc,sc1,sch将导致错误
#所有ScreenName均不得为空
#website不得为空
#使用自定义域名必须填写sc,sc1,sch
#如果已填写sc,则也必须填写sc1

#Sunny Ngrok Tunnel ID/Sunny Ngrok 隧道ID
nid=


#Sakura Frp
#*Sakura UserName/Sakura Frp 用户名
su=

#*Sakura PassWord/Sakura Frp 密码
sp=

#*Sakura Server ID/Sakura Frp服务器ID(见官网)
sid=

#Sakura Server ID/Sakura Frp隧道ID(见官网)
sc=
#Sakura Server ID/Sakura Frp 1隧道ID(见官网)
sc1=
#Sakura Server ID/Sakura Frp HTTP隧道ID(见官网)
sch=
#Sakura Server ID/Sakura Frp Remote隧道ID(见官网)
#scr=

#*ScreenNames /程序对应Screen名称
#MCSM
SN_MCSM=MCSM
#Sunny Ngrok
SN_N=sunny
#Sakura Frp
SN_S=sakura
#Sakura Frp-1
SN_S1=sakura1
#Sakura Frp-HTTP
SN_SH=sakura-http
#Sakura Frp-Remote
#SN_SR=sakura-remote

#Website
website=blog.sf2005.ml